<div class="control-group">
  <label class="control-label">Webhook Message Content</label>
  <div class="controls">
      <label class="text-label">
        {{input type="text" class="input-xxlarge" value=model.custom_fields.chat_integration_discord_message_content}}
      </label>
  </div>
</div>